body {
    outline: 2px solid red;
    margin: 10px;
}
header {
    outline: 2px solid green;
    margin: 10px;
}
main {
    outline: 2px solid blue;
    margin: 10px;
}
section {
    outline: 2px solid orange;
    margin: 10px;
}
aside {
    outline: 2px solid grey;
    margin: 10px;
}
footer {
    outline: 2px solid black;
    margin: 10px;
}
